name: firelocal_wasm
description: FireLocal WebAssembly bindings for Flutter Web
version: 0.1.0
homepage: https://github.com/rajdipk/Firelocal
repository: https://github.com/rajdipk/Firelocal

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

platforms:
  web:
