include README.md
include LICENSE
include pyproject.toml
include setup.py
recursive-include firelocal *.py
include firelocal/*.so
include firelocal/*.dll
include firelocal/*.dylib
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
